{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="jumbotro">
        <h1 class="display-4 text-center">Administration</h1>
        <p class="lead text-center">Bienvenue dans l'interface d'administration</p>
    </div>
    <div class="row">
        <img src="https://media.istockphoto.com/photos/cute-pig-leaning-on-railing-of-his-cot-picture-id140462837?b=1&k=20&m=140462837&s=170667a&w=0&h=wOpBe65QC1LmjtgwKGYRW-1OnAoAEMy8p88mfM_nofY=" alt="cochon" class="img-fluid">
    </div>
{% endblock %}