{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="">
        <h1 class="display-4 text-center">Administration</h1>
        <p class="lead text-center">Bienvenue dans l'interface d'administration</p>
        <img class="w-100" src="https://media.istockphoto.com/photos/different-colours-piglets-standing-in-front-of-the-photographer-picture-id1178699211?b=1&k=20&m=1178699211&s=170667a&w=0&h=aN6mYJ4knXq9cNim6QVggBgqfAvihaFWe1E2D2xh-iE=" alt="cochon">
    </div>
{% endblock %}